### IntelliJ IDEA ###
.idea/
*.iml

### Java / JavaFX / Build Artifacts ###
bin/
build/
dist/
runtime/
/out/
app/Connect4_Local_GamePlay.jar
*.class
*.jar
*.exe
*.msi

### Logs ###
*.log

### JPackage / Installer Output ###
Connect4-*.exe

### Windows ###
Thumbs.db

### META-INF ###
src/META-INF/
